@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    background-color: black;
    background-image : url("/assets/gradient.png") ;
    background-size: cover;
    color: white;
}


body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-family: 'IBM Plex Mono', monospace;
}


nav {

    padding: 20px;
    display: flex;
    
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: gray 1px solid;

}

.footer-nav {

    padding: 20px;
    display: flex;
    
    gap: 10px;
    justify-content: center;
    align-items: center;
    

}

.logo {
    margin-right: auto;
}

.logo img {
    height: 50px;
}


.menues a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 5px;
}

.menues a:hover {
    color: #5865F2;
    text-decoration: underline;
}

.menues-footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 5px;
}

.menues-footer a:hover {
    color: #5865F2;
    text-decoration: underline;
}


.right {
    margin-left: auto;
}

.downloadBtn {
    padding: 10px;
    
    border: white 1px solid;
    color: white;
    font-weight: bolder;
    
    
}

.navbtn{
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-style: light;
  
    border: 0;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    font-size: 20px;
    border: black 2px solid;
    border-radius: 50px;
}

.herodownloadBtn{
    background: #5865F2;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    border: 0;
    padding: 10px;
    width: 50%;
    font-size: 20px;
    border: black 2px solid;
    border-radius: 50px;
}
.mockup {
    height: 80vh;
}


.hero {
    display: flex;
    justify-content: center;
    gap:50px;
    padding: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
    padding: 50px;
}

.aboutDescription{
    display: flex;
    padding: 20px;
    gap: 50px;
    width: 70%;
    font-size: larger;
}

.aboutImage{
    height: 200px;
    background-color: #5865F2;
    border-radius: 9px;
    padding: 20px;
}

.metrics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metrices{
    display: flex;
    gap: 20px;
}

.metricsCard{
    height: 90px;
    background-color: #5865f1;
    border-radius: 9px;
    padding: 40px;

}

.description {
    max-width: 50%;
    font-size: x-large;
    text-align: justify;
}

.features{
    gap:50px;
    padding: 50px;
}
.feature{
    display: flex;
    justify-content: center;
    gap:50px;
    padding-bottom: 100px;

}

.feature-description{
    max-width: 50%;

}

.feature-image img{
    height: 200px;
    background-color: #5865F2;
    border-radius: 9px;
    padding: 20px;
}

.createAcntBtn{
    background: #EB459E;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    border: 0;
    padding: 10px;
    width: 50%;
    font-size: 20px;
    border: black 2px solid;
    border-radius: 50px;
}



@media only screen and (max-width: 600px) {
    .hero {
      display: flex;
      flex-direction: column;
      padding: 5px;
      justify-content: center;
      align-content: center;
    }

    .menues{
        display: none;
    }

    .description {
        max-width: 100%;
        text-align: justify;
    }
    
    .actionbtns {
      
        padding: 5px;
    }

    .herodownloadBtn{
        width: 100%;
    }

    .features{
        display: block;
        padding: 20px;
    }

    .feature {
        display: block;
        padding: 2px;
    }
    .feature-image img{
        height: 100px;
        width: 100%;
        padding: 0;
    }
    .feature-description {
        max-width: 100%;
        text-align: justify;
    }
    .createAcntBtn{
        width: 100%;
    }

}

form {
    background-color: black ;
    border: white 2px solid;
    padding: 50px;
    border-radius: 10px;
}

.tos{
    margin-bottom: 10px;
}

.email-input {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
   
}

.email-input label {
    font-size: 20px;
    margin-bottom: 10px;
}

.email-input input {
    padding: 10px;
    margin-left: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
}

